.here  {

    background-color: black;
    color: white;
    text-align: center;
}

.hey {
  
    background-color: grey;
    color: white;
    text-align: center;
}
div {
    border: 1px solid white;
}