body {
    background-image: url(../images/backgroundrun.jpg);
    color: white;
    background-attachment: fixed;
    margin:0px;

}
h1 {
    color: darkmagenta;
}

#first{
    background-color: rgba(148, 0, 211, 0.425);
    color: white;
}
.lesson{
    background: rgba(0, 139, 139, 0.322);
}

nav {
    margin: 1px;
    background-color: rgba(1, 82, 82, 0.521);
    padding: 10px;
}

nav a {
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color:white; 
    text-transform: capitalize;
}

#containerform {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

