body{
    margin: 0;
    font-family: monospace;
}
nav{
    position: top;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0 5px;
    color: white;
    margin: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    text-align: center;

}
nav li {
    display: inline-block;
    font-size: 1em;
    line-height: 90px;
    height: 90px;
    width: 100px;
}
nav img{
    width: 6.8em;
    height: 6.8em;
    float: left;
    position: relative;
}
nav a:hover{
    background-color: blueviolet;
    color: white;
}
nav a.active {
    background: orange;
    color: black;
}
.container{
    text-align: center;
    border: 1em solid white;
    padding: 2em;
    margin: 4em;
    box-shadow: 0 2px 3px 0 black;
}
.container img  {
    border: 2px solid gold;
}

.yellow {
    background: gold;
}
