body{margin: 0;}
nav{
    position: top;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0 5px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    text-align: center;

}
nav li {
    display: inline-block;
    font-size: 1em;
    line-height: 50px;
    height: 50px;
    width: 100px;
}
nav a:hover{
    background-color: blueviolet;
    color: white;
}
nav a.active {
    background: green;
    color: black;
}
img {
    border: 5px solid red;
}

.yellow {
    background: gold;
}